<div id="carouselExampleControls" class="carousel carousel-dark slide d-none d-sm-block bg-light" data-bs-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item active">

          <div class="cards-wrapper">
             <div class="card">
                <div class="card-body">
                   <h5 class="card-title">Faith</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
               
                <div class="card-body">
                   <h5 class="card-title">Liyema</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Chachulani</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
       <div class="carousel-item">

          <div class="cards-wrapper">
             <div class="card">
               

                <div class="card-body">
                   <h5 class="card-title">Mashoto</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
                

                <div class="card-body">
                   <h5 class="card-title">Nhlanhla</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
               

                <div class="card-body">
                   <h5 class="card-title">Nomfezeko</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
       <div class="carousel-item">

          <div class="cards-wrapper">
             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Thabo</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
               

                <div class="card-body">
                   <h5 class="card-title">Tsakane</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

             <div class="card">
               
                <div class="card-body">
                   <h5 class="card-title">Wonga</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>
          </div>

       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
       data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
       data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
    </button>
 </div>

 <div id="carouselExampleControlsSmallScreen" class="carousel carousel-dark slide d-sm-none" data-bs-ride="carousel">
    <div class="carousel-inner">
       <div class="carousel-item active">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                      <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>
       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
              
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
              
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Card title</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                    <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>

       <div class="carousel-item">

          <div class="cards-wrapper">

             <div class="card">
                
                <div class="card-body">
                   <h5 class="card-title">Wonga</h5>
                   <p class="card-text"><i>Some quick example text to build on the card title and make up the bulk of
                         the
                         card's content.</i></p>
                   <div class="socials d-flex justify-content-between">
                      <div class="email">
                        <button class="btn bg-danger text-light mt-2">Check Out</button>
                      </div>

                      <div class="linkedin">
                        <a class="btn bg-primary text-light mt-2">Add</a>
                      </div>
                   </div>
                </div>
             </div>

          </div>

       </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsSmallScreen"
       data-bs-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsSmallScreen"
       data-bs-slide="next">
       <span class="carousel-control-next-icon" aria-hidden="true"></span>
       <span class="visually-hidden">Next</span>
    </button>
 </div>
